// Заголовки, общие БЄМ блоки и проче...
.title-footer {
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #FFFFFF;
	cursor: pointer;
}